<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle</title>
</head>

<body class="bg-slate-200">
  <header>
    <h1 class="">
      test
    </h1>
    <nav>
      <a href="/views/pokeballs.html">Categoria 1</a>
      <a href="/views/pociones.html">Categoria 2</a>
      <a href="/views/contacto.html">Contacto</a>
      <a href="/views/carrito.html">Carrito</a>
    </nav>
  </header>
  <main>
    <section
      class="card-container px-4 py-4 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-8">
    </section>
  </main>
  <footer>
    <nav>
      <a href="https://www.instagram.com/">Instagram</a>
      <a href="https://www.youtube.com/">Youtube</a>
      <a href="https://www.twitter.com/">Twitter</a>
      <a href="https://www.facebook.com/">Facebook</a>
    </nav>
  </footer>
  <script type="module" src="../scripts/detail.js"></script>
</body>

</html>