<!DOCTYPE html>
<html class="h-full" lang="en">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle</title>
</head>

<body class="bg-slate-200 flex flex-col h-full">
  <header class="flex place-content-between	bg-red-700 items-center	px-4 py-4">
    <h1 class="place-content-start text-4xl	text-neutral-300">
      <a href="/index.html">test</a>
    </h1>
    <nav class="flex place-content-end text-neutral-300">
      <a class="hover:text-yellow-500 mx-4" href="/views/pokeballs.html">Categoria 1</a>
      <a class="hover:text-yellow-500 mx-4" href="/views/pociones.html">Categoria 2</a>
      <a class="hover:text-yellow-500 mx-4" href="/views/contacto.html/">Contacto</a>
      <button class="hover:text-yellow-500 mx-4 material-icons">
        shopping_cart
      </button>
      <span class="icon_count"></span>
    </nav>
  </header>
  <main class="grow flex">
    <section class="card-container flex items-center md:container mx-auto px-4 py-4">
    </section>
  </main>
  <footer class="flex place-content-end bg-red-700 text-neutral-300 p-4">
    <nav>
      <a class="hover:text-yellow-500 mx-4" href="https://www.instagram.com/">Instagram</a>
      <a class="hover:text-yellow-500 mx-4" href="https://www.youtube.com/">Youtube</a>
      <a class="hover:text-yellow-500 mx-4" href="https://www.twitter.com/">Twitter</a>
      <a class="hover:text-yellow-500 mx-4" href="https://www.facebook.com/">Facebook</a>
    </nav>
  </footer>
  <script type="module" src="../scripts/detail.js"></script>
</body>

</html>