<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>
      <a href="../index.html">test</a> 
    </h1>
    <nav>
      <a href="/views/pokeballs.html">Categoria 1</a>
      <a href="/views/pociones.html">Categoria 2</a>
      <a href="/views/contacto.html">Contacto</a>
      <a href="/views/carrito.html">Carrito</a>
    </nav>
  </header>
  <main>

  </main>
  <footer>
    <nav>
      <a href="https://www.instagram.com/">Instagram</a>
      <a href="https://www.youtube.com/">Youtube</a>
      <a href="https://www.twitter.com/">Twitter</a>
      <a href="https://www.facebook.com/">Facebook</a>
    </nav>
  </footer>
</body>

</html>